<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5 offset-2">
                <h1>Weather in your city</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city">City</label>
                    {{ form.name }}
                    <input type="submit" name="send" value="search" class="mt-2 btn btn-danger">
                </form>
            </div>
            <div class="col-4 offset-1">
                <h1>Info</h1>
                {% for info in all_info %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9">
                            <b>City:</b>{{ info.city }}<br>
                            <b>Temp:</b>{{ info.temp }}<sup>o</sup><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
